<div class="tab" style="background-color: {{settings.primaryColor}}" fxLayoutAlign= "start center">
    <button routerLink="menu" style="border: none; background-color: transparent; color: #fff;">
        <mat-icon>menu</mat-icon>
    </button>
    <span class="spliter"></span>
    <button routerLink="Order" style="border: none; background-color: transparent; color: #fff;">
        <mat-icon matBadge='{{cartItems}}' matBadgeColor="warn">shopping_cart</mat-icon>
    </button>
</div>
<div class="lining" style="background-color: {{settings.secondaryColor}}">

</div>
<router-outlet></router-outlet>